<template>
  <div class="hello">
    <div>
      {{message}}
    </div>
        <div class="userss">
          <li v-for="user in users">
            <ul >
              {{user.firstname}} : {{user.lastname}}
            </ul>
          </li>
        </div>
            <div>
                <p>Here::"""{{ins}}"""</p>
                <input type="text" v-model="ins"/>
            </div>
            <br />
                <div>
                  <input type="button" value="add" v-on:click="counter++"/>
                  <h3>{{counter}}</h3>
                </div>
            <div>
              <input type="button" value="click" v-on:click="toggle" />
              <h2 v-show="isshow">This text has to go off!!</h2>
            </div>


  </div>

</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      message: 'Welcome to Your Vue.js App',
      users :[
        {firstname: 'Sebastian', lastname: 'Eschweiler'},
      {firstname: 'Bill', lastname: 'Smith'},
      {firstname: 'John', lastname: 'Porter'}
    ],
    ins: '',
    counter: 0,
    isshow: false
    }
  },
  methods: {
    toggle(){
      this.isshow = !this.isshow;
    }
  }
}
</script> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello{
  background-color: pink;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
