<template>
  <div id="navi">
    <nav>
      <div class="container">
        <ul class="nav__left">

          <!-- Navigation Links -->
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/admin">Admin</router-link></li>
          <li><router-link to="/cart">Cart</router-link></li>

        </ul>
      </div>
    </nav>

    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
nav{
  background-color: black;
  height: 60px;
  width: 100%;
  }
ul{
  text-decoration: none;
}
li {
  display: inline-block;
  padding: 25px;
  font-weight: bold;
}
a{
  color: yellow;
  text-decoration: none;
  font-size: 20px;
}
</style>
